<%= form_with(model: printer, class: "contents") do |form| %>
  <% if printer.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(printer.errors.count, "error") %> prohibited this printer from being saved:</h2>
      <ul>
        <% printer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-4">
    <p>Nombre</p>
    <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Nombre. Ejemplo (CLC 1er Piso)" %>
  </div>

  <div class="my-4">
    <p>Modelo</p>
    <%= form.text_field :model, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Modelo. Ejemplo (MPC 2503-SPF)" %>
  </div>

  <div class="my-4">
    <p>Serial</p>
    <%= form.text_field :serial, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Serial. Ejemplo (AAAAAAAAAAA)" %>
  </div>

  <div class="my-4">
    <p>Dirección IP</p>
    <%= form.text_field :ip, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "IP. Ejemplo (000.000.000.000)" %>
  </div>

  <div class="my-4">
    <p>URL Controlador</p>
    <%= form.text_field :driver, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "URL (https://...)" %>
  </div>

  <div class="w-1/4 rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer">
    <svg class="inline-block w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>  
    <%= form.submit "Actualizar" %>
  </div>
  <%= link_to "#", :onclick => "$('#form_id').submit()" do %>
    <svg class="inline-block w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>    
    <p>Actualizar</p>
  <% end %>
<% end %>
