<div class="vh-centrado w-11/12 pb-5 md:w-2/3 lg:w-1/2">
  <div class="m-auto h-full w-full">
    <% if notice.present? %>
      <p class="mb-5 inline-block rounded-lg bg-green-50 py-2 px-3 font-medium text-green-500" id="notice"><%= notice %></p>
    <% end %>
    <%= render @driver %>
    <div class="flex w-full items-stretch rounded-md text-center shadow-sm" role="group">
      <%= link_to drivers_path, type: "button", class: "flex w-1/3 items-center justify-center rounded-l-md bg-yellow-400 py-2 px-4 text-sm font-medium text-white hover:bg-yellow-500 focus:z-10 focus:ring-2 focus:ring-yellow-300 dark:focus:ring-yellow-900" do %>
        <svg class="mr-2 h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7"></path></svg>
        <p>Volver</p>
      <% end %>
      <%= link_to edit_driver_path(@driver), type: "button", class: "flex w-1/3 items-center justify-center bg-blue-700 py-2 px-4 text-sm font-medium text-white hover:bg-blue-800 focus:z-10 focus:ring-2 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900" do %>
        <svg class="mr-2 h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
        <p>Editar</p>
      <% end %>
      <%= link_to driver_path(@driver), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, type: "button", class: "flex w-1/3 items-center justify-center rounded-r-md bg-red-700 py-2 px-4 text-sm font-medium text-white hover:bg-red-800 focus:z-10 focus:ring-2 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900" do %>
        <svg class="mr-2 h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
        <p>Eliminar</p>
      <% end %>
    </div>
  </div>
</div>
